@import url("https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:900%7CRoboto:100%7CWork+Sans:600,900");

/* .cinema {
  float: left;

  width: 70px;
  height: 70px;
  background-color: #1d4c9a;
  border-radius: 5%;
}
.cinema2 {
  float: left;

  width: 70px;
  height: 70px;
  background-color: #00a69c;
  border-radius: 5%;
} */

/* .cinemacontainer {
  margin: auto;
} */

.padding {
  margin: 5%;
}

.rowButton {
  align-items: center;
}

.layout {
  display: flex;
  align-items: center;
}

.render-container {
background-color: rgb(0, 88, 120);
}

/* .background-container {
  display: flex;
} */

/* .test-box{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%; 
  left: 10%;
  background-color: rgba(255, 255, 255, 0.822);
  padding: 5%;
  
} */


.box {
  width: 150%;
  /* position: absolute;  
  vit ruta bakom rendering */
   margin-left: -25%;
  /* display: block; */ 
  /* border: solid 4px red; */
  /* margin-top: 8%; */
  /* width: 600px;
    height: 420px; */
  /* 
  border-radius: 10px; */
  
}

.stretch1 {
  background-color: rgb(0, 88, 120);
  height: 100%;
  
}
.stretch2 {
  background-color: rgb(44, 132, 192);
  box-shadow: -5px 0px 10px 0px rgb(13, 42, 61);
  height: 100%;

}
.stretch3 {
  background-color: #f6928a;
  box-shadow: -5px 0px 10px 0px rgb(29, 89, 129);
  height: 100%;
}

input {
  margin: 1%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 2%;
  width: 55%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  
}
input:focus {
  outline:0;
}

.seating-info-box {
  text-align: center;
}

.seating-info {
  margin: 1%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 2%;
  width: 55%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  display: inline-block;
}
select {
  margin: 1%;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 2%;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 55%;
  font-weight: 900;
  text-align-last: center;
}

select option {
  color: black;
  font-weight: 900;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-family: "Roboto", sans-serif;
}
.btn {
  background-color: white;
  display: block;
  margin: 5% auto;
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}



.renderedTable {
  position: relative;
  width: 100%;
  height: 5%;
  background-color: rgb(0, 88, 120);
  /* border: solid 1px black; */
  border-radius: 4px;
  z-index: 1;
  box-shadow: 5px 5px 5px rgb(70, 70, 70);
  overflow:auto;
}

#chair-container {
  /* border: 2px dashed #444;  */
  height: 7%;
  width: 100%;
  position: relative;
  text-align: justify;
  text-align: center;
  justify-content: space-around;
  display: flex;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  padding-bottom: 10px;
  margin-right: 50px;
}

.chair {

  color: white;
  /* max-width: 100px; */
  min-width: 50px;
  max-width: 50px;
  height: 100%;
  border-radius:40%;
  background: rgb(44, 132, 192);
  vertical-align: top;
  /* display: inline-block;
  *display: inline; */
  display:flex;
  margin:3%;
  margin-top: -40%;
  z-index: -1;
  text-align: center;
  border: solid 3px white;
  /* padding: 5px; */
}

.layout-box {
  width: 100%;
  height: 20%;
  /* display: flex; */
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
.chair p {
  display: inline-block;
  width: 100%;
  /* text-align: center; */
  /* position: absolute; */
  top: -0%;
  /* margin: 2% auto; */
  margin-left: 2%;
  z-index: 1;
}

.savegroup {
  padding-top: 10%;
}

.input-save-group {
  width: 20%;
  border: 0;
}