.cinema{
  
width: 70px;
height: 70px;
background-color: #1D4C9A;
border-radius: 5%;

}

.layout{
    display: flex;
    align-items: center;
    
}

input{
margin: 1%;
    
}

.btn {
    width: 100%;
}