body {
  background:  url("../img/Background2.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.card {
  background-color: #f19784;
  box-shadow: 5px 10px black;
}
.list {
  justify-content: center;
}
ul {
  text-align: center;
  list-style-type: none;
}
