.box {
    position: relative;
    margin: auto;
    display: block;
    /* border: solid 4px red; */
    margin-top: 8%;
    width: 600px;
    height: 420px;
    background: none;
  }
  
  .table {
    position: relative;
    top: 16.5%;
    left: 10%;
    width: 70%;
    height: 40%;
    background: #a6becf;
    border-radius: 5%;
  }
  
  /* .chair {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    position: absolute;
   
    width: 15%;
    height: 30%;
    border-radius: 50%;
    background: #819caf;
    zoom: 1;
  } */
  
  /* .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
  } */
  
  /* #chair-container {
    border: 2px dashed #444;
    height: 40%;
    width: 100%;
    position: absolute;
    top: 105%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
  
    
  } */
  
  #chair-container {
    /* border: 2px dashed #444; */
    height: 40%;
    width: 100%;
  
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
  
    /* just for demo */
  
  }
  
  .chair {
    width: 15%;
    height: 80%;
    border-radius: 50%;
    background: #819caf;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 1%;
  }
  .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }
  .chair p{
      text-align: center;
  }
  